<h1>Recipes</h1>

    <% @recipes.each do |r| %>
        <%= r.name %><br>
    <% end %>

    


<%# look at all the recipies, find the recipe that matches self, then find
the ingredients for said recipe (needs to look into RecipeIngredient to find though) %>